.contact1{
    overflow-x: hidden;
    width: 100%;
    padding-bottom: 100px;
    .contact_content{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        .div1{
            flex: 1;
            display: flex;
            flex-direction: column;
                h3{
                    margin-bottom: 10px;
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: #f5f5f5;
                }
                p {
                    color: #f5f5f5;
                    font-size: 1.8rem;
                    line-height: 1.65;
                    padding-bottom: 20px;
                    border-bottom: 1px dashed var(--yellow-theme-main-color);
                }
                ul > li{
                    line-height: 1rem;
                    margin-bottom: 15px;
                    list-style: none;
        
                    span.title, span.value {
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 0.5px;
                        border-bottom: 2px solid var(--yellow-theme-main-color);
                        position: relative;
                        display: inline-block;
                        margin-right: 16px;
                        padding-bottom: 1px;
        
                        color: #f5f5f5;
                    }
                    span.value {
                        border: none;
                    }
                }
                .personal-info {
                    margin-top: 20px;
                    margin-bottom: 20px;
        
                }
        }
        .div2{
            flex: 1;
        }
        .contact_content_header-text{
            color: #f5f5f5;
            flex: 1;
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 5px 10px;
            border-bottom: 2px solid #f5f5f5;
        }
        .contact_content_header-text::before,
        .contact_content_header-text::after{
            position: absolute;
            content: "";
            width: 2px;
            height: 5px;
            background-color: #f5f5f5;
            bottom: -1px;
        }
        .contact_content_header-text::before{
            left: 0;
        }
        .contact_content_header-text::after{
            right: 0;
        }
        .contact_content_form{
            margin-top: 30px;
            .contact_content_form_controlswrapper{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
                margin-bottom: 30px;
                div {
                    position: relative;
                    .inputName, .inputEmail, .inputDescription{
                        width: 100%;
                        border: 2px solid #f5f5f5;
                        padding: 16px 12px;
                        transition: all 0.5s ease;
                        position: relative;
                        background-color: transparent;
                        color: #f5f5f5;
                    }
                    .nameLabel,.emailLabel,.descriptionLabel{
                        font-weight: 500;
                        position: absolute;
                        top: 7px;
                        left: 12px;
                        transition: all 0.2s ease;
                        color: #f5f5f5;
                        font-size: 16px;
                    }
                    .inputName:focus, .inputEmail:focus, .inputDescription:focus{
                        outline: none;
                    }
                    .inputName:focus + .nameLabel,.inputName:valid + .nameLabel, .inputEmail:focus + .emailLabel,.inputEmail:valid + .emailLabel, .inputDescription:focus + .descriptionLabel,.inputDescription:valid + .descriptionLabel{
                        font-size: 18px;
                        top: -25px;
                        left: 0px;
                    }

                }

            }
            input[type="submit"] {
                cursor: pointer;
                padding: 10px 70px;
                font-size: 2rem;
                background: transparent;
                color: #f5f5f5;
                border: 1.5px solid #f5f5f5;
                border-radius: 4px;
                font-weight: 600;
                transition: 0.5s ease;
                &:hover{
                    color: #333;
                    background: #f5f5f5;
                }
            }

        }
        .handlesubmit{
            color: #f5f5f5;
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 5px 10px;
        }
    }
}

.contact{
    overflow-x: hidden;
    width: 100%;
    padding-bottom: 100px;
    .contact_content{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        .div1{
            flex: 1;
            display: flex;
            flex-direction: column;
                h3{
                    margin-bottom: 10px;
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: #333333;
                }
                p {
                    color: #333333;
                    font-size: 1.8rem;
                    line-height: 1.65;
                    padding-bottom: 20px;
                    border-bottom: 1px dashed var(--yellow-theme-main-color);
                }
                ul > li{
                    line-height: 1rem;
                    margin-bottom: 15px;
                    list-style: none;
        
                    span.title, span.value {
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 0.5px;
                        border-bottom: 2px solid var(--yellow-theme-main-color);
                        position: relative;
                        display: inline-block;
                        margin-right: 16px;
                        padding-bottom: 1px;
        
                        color: #333333;
                    }
                    span.value {
                        border: none;
                    }
                }
                .personal-info {
                    margin-top: 20px;
                    margin-bottom: 20px;
        
                }
        }
        .div2{
            flex: 1;
        }
        .contact_content_header-text{
            color: #333333;
            flex: 1;
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 5px 10px;
            border-bottom: 2px solid #333333;
        }
        .contact_content_header-text::before,
        .contact_content_header-text::after{
            position: absolute;
            content: "";
            width: 2px;
            height: 5px;
            background-color: #333333;
            bottom: -1px;
        }
        .contact_content_header-text::before{
            left: 0;
        }
        .contact_content_header-text::after{
            right: 0;
        }
        .contact_content_form{
            margin-top: 30px;
            .contact_content_form_controlswrapper{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
                margin-bottom: 30px;
                div {
                    position: relative;
                    .inputName, .inputEmail, .inputDescription{
                        width: 100%;
                        border: 2px solid #333333;
                        padding: 16px 12px;
                        transition: all 0.5s ease;
                        position: relative;
                        background-color: transparent;
                        color: #333333;
                    }
                    .nameLabel,.emailLabel,.descriptionLabel{
                        font-weight: 500;
                        position: absolute;
                        top: 7px;
                        left: 12px;
                        transition: all 0.2s ease;
                        color: #333333;
                        font-size: 16px;
                    }
                    .inputName:focus, .inputEmail:focus, .inputDescription:focus{
                        outline: none;
                    }
                    .inputName:focus + .nameLabel,.inputName:valid + .nameLabel, .inputEmail:focus + .emailLabel,.inputEmail:valid + .emailLabel, .inputDescription:focus + .descriptionLabel,.inputDescription:valid + .descriptionLabel{
                        font-size: 18px;
                        top: -25px;
                        left: 0px;
                    }

                }

            }
            input[type="submit"] {
                cursor: pointer;
                padding: 10px 70px;
                font-size: 2rem;
                background: transparent;
                color: #333333;
                border: 1.5px solid #333333;
                border-radius: 4px;
                transition: 0.5s ease;
                font-weight: 600;
                &:hover{
                    color: #fff;
                    background: #333333;
                }
            }

        }
        .handlesubmit{
            color: #333333;
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 5px 10px;
        }
    }
}
@media only screen and (max-width: 768px){
    .contact, .contact1{
        .contact_content{
            flex-direction: column;
        }
        .contact_content{
            .contact_content_form{
                text-align: center;
                .contact_content_form_controlswrapper{
                    grid-template-columns: repeat(1,1fr);
                }
                margin-bottom: 100px;
            }
            .div1 {
                .map {
                    width: 250px;
                }
            }
        }
    
    }

}
.footer {
    display: flex;
    flex-direction: column;
    height: 30vh;
    align-items: center;
    justify-content: center;
  }
  .footer a img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

  }
  .links1{
    font-size: 30px;
    color: #fff;
  }
  .links2{
    font-size: 30px;
    color: #111;
  }


  .footer-icons {
    display: flex;
    justify-content: space-between;
    height: 5vw;
    max-height: 15%;
    min-height: 25px;
    width: 25%;
    margin-bottom: 2vw;
    min-width: 200px;
  }
.socialIcons {
    display: flex;
    justify-content: center;
  }
  .socialIcons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcons a i {
    font-size: 1.5em;
    opacity: 0.9;
  }
  .socialIcons a:hover {
    transition: 0.5s;
  }
  .socialIcons a:hover i {
    transition: 0.5s;
  }
  .socialIcons1 a{
    background-color: white;

  }
  .socialIcons1 a i{
    color: black;
  }
  .socialIcons1 a:hover i{
    color: white;
  }
  .socialIcons1 a:hover{
    background-color: #111;
  }
  .socialIcons2 a{
    background-color: black;

  }
  .socialIcons2 a i{
    color: white;
  }
  .socialIcons2 a:hover i{
    color: black;
  }
  .socialIcons2 a:hover{
    background-color: #fff;
  }