.navbar2 {
    background-color: #3498db;
    color: #FFFFFF;
}
.navbar3 {
    background-color: #282828;
    color: #FFFFFF;
}

.navbar1{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;

    &_container{
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0px 20px;
        flex: 1;

        &_logo{
            color: #FFFFFF;
            cursor: pointer;
        }
        &_menu {
            display: flex;
            list-style: none;
            text-align: center;
            &_items{
                line-height: 40px;
                margin-right: 1.5rem;
                font-size: 1.6rem;

                &::after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    transition: all 0.5s ease;
                }

                &:hover:after{
                    width: 100%;
                    background-color: #FFFFFF;
                }
                &_link{
                    text-decoration: none;
                    padding: 0.5rem;
                    color: #FFFFFF;
                }

            }
            button {
                cursor: pointer;
                padding: 10px 70px;
                font-size: 2rem;
                background: transparent;
                color: #fff;
                border: 1.5px solid #333333;
                border-radius: 4px;
                transition: 0.5s ease;
                font-weight: 600;
                &:hover{
                    color: #333333;
                    background: #fff;
                }
            }
        }
    }
}
.nav1-icon {
    display: none;
}
@media only screen and (max-width: 768px) {
    .navbar1_container_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
        &.active{
            background: #181818;
            left: 0px;
            opacity: 1;
        }
        &_items{
            border-bottom: 1px solid #282828;
            margin: 0px;
            padding: 20px 0px;
        }

    }
    .nav1-icon {
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-main-color);
        padding-right: 20px;
    }
}