.skills2{
    .skills_content-wrapper{
        &_inner-content{

            &_category-text{
                color: #FFFFFF;
                border-bottom: 2px solid #FFFFFF;
            }
            &_category-text::before, &_category-text::after {

                background-color: #FFFFFF;
            }
            div{
                .progressbar-wrapper{
                    p{
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}
.skills3{
    .skills_content-wrapper{


        &_inner-content{

            &_category-text{
                color: #333333;
                border-bottom: 2px solid #333333;
            }
            &_category-text::before, &_category-text::after {

                background-color: #333333;
            }
            div{
                .progressbar-wrapper{
                    p{
                        color: #333333;
                    }
                }
            }
        }
    }
}
.skills{
    &_content-wrapper{
        display: flex;
        padding: 20px;
        gap: 20px;

        &_inner-content{
            flex: 1;
            text-align: start;
            &_category-text{
                display: inline-block;
                font-size: 22px;
                font-weight: 700;
                line-height: 1rem;
                letter-spacing: 0.5px;
                position: relative;
                text-transform: uppercase;
                padding: 5px 10px;
                margin-bottom: 10px;
            }
            &_category-text::before, &_category-text::after {
                position: absolute;
                content: "";
                width: 2px;
                height: 5px;
                bottom: -1px;
            }
            &_category-text::before{
                left: 0;
            }
            &_category-text::after{
                right: 0;
            }
            div{
                width: 100%;
                .progressbar-wrapper{
                    padding: 50px 0px 0px 0px;
                    p{
                        font-size: 1.6rem;
                        margin: 0 0 10px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
@media only screen and  (max-width: 768px){
    .skills{
        &_content-wrapper{
            flex-direction: column;
            &_inner-content{
                &_category-text{
                    margin-top: 20px;
                    margin-bottom: 5px;
                }
                div{
                    .progressbar-wrapper{
                        margin: 0;
                    }
                }
            }
        }
    }
}